.headerNav {
    background-color: $txt-heading-color;
    color: #fff;
    .AdNav {
        @include flex(center, space-between);
        gap: 30px;
        &__logo {
            @include flex(center, center);
            column-gap: 8px;
            &__icon {
                font-size: 1.5rem;

                @include mobile {
                    font-size: 1rem;
                }
            }
            &__name {
                font-size: 1.5rem;
                font-weight: 600;
                @include mobile {
                    font-size: 1rem;
                }
            }
        }

        &__search {
            position: relative;
            width: 60%;
            input {
                width: 100%;
                padding: 8px 20px 8px 35px;
                outline: none;
            }

            i {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 8px;
                color: $txt-primary-color;
                font-size: 1.2rem;
                cursor: pointer;
            }
        }

        &__icons {
            position: relative;
            @include flex(center, center);
            column-gap: 2rem;
            font-size: 1.2rem;
            @include mobile {
                margin-right: 30px;
                column-gap: 1.5rem;
            }

            i,
            img {
                cursor: pointer;
            }

            img {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                object-fit: cover;
            }

            &__bell,
            &__gear,
            &__profile {
                height: 25px;
            }
        }
    }
}
