// background card
$bg-main: #fff;
$bg-card-01: #fdefe6;
$bg-card-02: #d6e5fb;
$bg-card-03: #64e6dd;
$bg-card-04: #e2f2b2;
$bg-hero: #d6e5fb;
// color
$txt-primary-color: #0a1d37;
$txt-small-color: #999;
$txt-heading-color: #0a1d37;
$txt-hover-color: #477ce6;
$txt-red: rgb(220, 0, 0);
// font size
$txt-heading-fontSize: 2rem;
// header height
$header-height: 100px;
$header-shrink-height: 60px;
$header-tablet-height: 60px;
$header-mobile-height: 40px;
// box shadow
$box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
